.row{
    flex-direction: row;
}
.row > * > * > *{
    flex-grow: 0;
    min-width: 50px;
}
.row > * > * > Label{
    flex-grow: 1;
}
.row > *{
    min-width: 100px; 
    flex-grow: 1;
    margin-left:10px;
    padding-right: 5px;
    border-right-width:2px;
    border-right-color: #333333;
}

.row > .first-child{
    margin-left:0px;
}
.row > .last-child{
    border-width:0px;
}

.compact Label
{
    min-width:70px;
    flex-grow:.75;
    white-space: normal;
}
